/* Topo (Top), Direita (Right), Baixo (Bottom) e Esquerda (Left) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

/* nav:active{
    background-color: rgb(40, 40, 209);
    color: white;
    font-weight: bold;

} */

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    border: 2px solid #007aff;
    border-radius: 50px;
    padding: 8px 10px;
    gap: clamp(6rem, 3vw, 4rem);
}

.nav-list li{
    margin: 0px 20px;
    color: white;
}

.carrinho{
    width: clamp(30px, 3vw, 40px);
    height: auto;
}

li.active{
    color: white;
    background-color: rgb(58, 58, 243);
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
}

#atual{
    color: white;
}

.links{
    text-decoration: none;
    color: black;
}

#pear{
    width: clamp(150px, 10vw, 180px);
    height: auto;
}

img#banner{
    display: block;
    width: 80%;
    max-width: 1400px;
    height: 400px;
    object-fit: cover;
    margin: 40px auto 0 auto;
}

#promo{
    text-align: center;
    padding: 45px;
}

.imgsbloco{
    width: 100%;
    max-width: 200px;
    height: auto;
    transition: 0.3s;
}

.imgsbloco:hover{
    transform: translateY(-10px);
}

#galeria{
    display: flex;
    gap: clamp(100px, 3vw, 40px);
    margin-left: 50px;
}

#galeria-bloco{
    background: linear-gradient(
    to left,
    #b0dde4,
    #a3dee7);
    padding: 50px;
    display: flex;
    justify-content: center;
}

#texto-aba{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #5ca3f5, #1788bd);
    color: white;
    width: 100%;
    height: 500px;
    padding: 50px;
    margin: 150px auto;
}

#vidro{
    border: 2px solid #19589c;
    border-radius: 10px;
    width: 25%;
    padding: 0px 5px 0px 14px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    color: #c9d9eb;
}

.textos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}

#texto-outraaba{
    display: inline-flex;
    background-color: white;
    border-radius: 50px;
    justify-content: space-between;
    padding: 7px;
    margin-top: 30px;
}

#p-branco{
    color: rgb(54, 54, 54);
    padding: 7px;
    font-size: 1.1rem;
}

#p-azul{
    background-color: #1f77d6;
    border-radius: 30px;
    padding: 10px;
}

#note{
    height: auto;
    width: 70%;
}

footer{
    display: flex;
    justify-content: space-beetween;
    align-items: flex-start;
    background-color: #1f77d6;
    color: white;
    width: 100%;
    height: auto;
    padding: 50px;
    margin-right: 50px;
}

.footer-lista{
    list-style: none;
    padding: 0;
    flex: 1;
}

.footer-lista li{
    color: white;
    padding: 10px 0;
}

.coluna{
    flex: 1;
    padding: 0px 20px;
}
